.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

// 循环默认间距
@for $var from 1 to 400 {
    .mar-r-#{$var*2} {
        margin-right: #{$var*2}px !important;
    }
    .mar-l-#{$var*2} {
        margin-left: #{$var*2}px !important;
    }
    .mar-t-#{$var*2} {
        margin-top: #{$var*2}px !important;
    }
    .mar-b-#{$var*2} {
        margin-bottom: #{$var*2}px !important;
    }
    .pad-r-#{$var*2} {
        padding-right: #{$var*2}px !important;
    }
    .pad-l-#{$var*2} {
        padding-left: #{$var*2}px !important;
    }
    .pad-t-#{$var*2} {
        padding-top: #{$var*2}px !important;
    }
    .pad-b-#{$var*2} {
        padding-bottom: #{$var*2}px !important;
    }
}